<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<h3>Movies List</h3>
<ul>
    <li th:each="movie : ${movies}">
        <p th:unless="${movie.file != null}">Movie doesn't contain any file.</p>
        <h4 th:if="${movie.title.isBlank()}"><a th:href="@{/movies/{id}(id=${movie.id})}">Title is not presented, please
            update movie information</a>
        </h4>
        <h4 th:unless="${movie.title.isBlank()}"><a th:href="@{/movies/{id}(id=${movie.id})}"
                                                    th:text="${movie.title}"></a></h4>
    </li>
</ul>
<a th:href="@{/movies/create}">Add new movie</a>
</body>
</html>